header {
  height: 400px;
  width: 100%;
  background-color: orange;
  background-image: url("/images/asfalt-light.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  margin: 12px;
}
