header.pageHeader {
  height: 400px;
  width: 100%;
  background-color: indianred;
  background-image: url("/images/asfalt-light.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header.pageHeader h2 {
  margin: 0 auto;
}
