header.pageHeader {
  position: fixed;
  top: 120px;
  height: 330px;
  width: 100%;
  background-color: indianred;
  background-image: url("/images/asfalt-light.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header.pageHeader h2 {
  margin: 0 auto;
}

/* ----------------------------------------------------- */

@media only screen and (min-width: 1024px) {
  header.pageHeader {
    position: static;
    padding: 100px;
    width: 30vw;
    height: 30vw;
    margin: 4vw;
  }
}

@media only screen and (max-width: 1023px) {
  header.pageHeader {
    top: 0;
    height: 200px;
    position: fixed;
    z-index: 1;
  }

  header.pageHeader img {
    height: 120px;
    width: 120px;
  }

  header.pageHeader h2 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  header.pageHeader img {
    height: 100px;
    width: 100px;
  }

  header.pageHeader h2 {
    font-size: 0.8em;
  }
}
