nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 1;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

span {
  font-family: "Bungee" !important;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div p {
  font-size: 20px;
}

div .scrollBtn:hover {
  cursor: pointer;
}

div .scrollBtn {
  font-family: "Sans Serif Pro", "sans serif";
  background-color: navy;
  width: 40px;
  height: 25px;
  font-size: 10px;
  color: #4056a1;
  border-radius: 8px;
  margin-bottom: 25px;
}
