.new-tweet {
  margin-top: 50px;
}

.new-tweet textarea {
  background-color: #f4f1ec;
  width: 100%;
  height: 70px;
  resize: none;
  border: none;
  border-bottom: 2px solid black;
}

.new-tweet div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet input {
  background-color: navy;
  font-family: "Bungee", sans-serif;
  color: white;
  border-radius: 8px;
  margin-bottom: 25px;
}

.new-tweet input:hover {
  cursor: pointer;
}

article {
  margin-top: 50px;
  margin-bottom: 25px;
  border: 3px solid black;
  height: 225px;
  overflow-wrap: break-word;
}

article:hover {
  box-shadow: 3px 3px 3px 3px #0005;
}

article header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

article header .profName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

article header .handle {
  display: flex;
  justify-content: right;
  margin-right: 18px;
  color: #f4f1ec;
}

article:hover header .handle {
  color: black;
}

article header img {
  margin: 18px;
  height: 45px;
}

article main {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  margin: auto;
  border-bottom: 3px solid black;
  width: 98%;
  font-size: 20px;
  height: 90px;
  overflow-wrap: break-word;
  word-break: break-word;
}

article footer {
  margin: auto;
  margin-left: 18px;
  margin-top: 8px;
  height: 30px;
  font-size: 12px;
}
